# Fichiers de configuration locaux (makhasshomch ydiro f Git)
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# Fichiers compilés
/build
/captures
.externalNativeBuild
.cxx

# MacOS
.DS_Store

# Fichiers générés par l'OS
*.swp