*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# Fichiers de sécurité et Keystores
*.jks
*.keystore

# Fichiers de configuration Firebase/Google Cloud
google-services.json

# Ignorer tous les dossiers build (y compris app/build)
build/
app/build/
